node_modules/
**/.git
**/README.md
**/LICENSE
**/.vscode
**/npm-debug.log
**/coverage
**/.editorconfig
**/.aws
**/dist

query.json
Sem_Indx_ES.txt
Data_Indx_ES.txt
.eslintrc.js

app/services/helper/test.js
downloaddataCSV.csv
querysum.json